body{
    background-color: whitesmoke;
}

.ranking{
    background: gray;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-left: 0.3em;
    padding-right: 0.3em;
    padding-left: 0.3em;
    color: white;
    border-radius: 50%;
}

footer {
    background: black;
    border-top: 4px solid black;
    color: white;
    text-align: center; /* Aligner le texte au centre */
    position: fixed; /* Fixer le footer en bas de la page */
    width: 100%; /* Définir la largeur sur 100% */
    bottom: 0; /* Aligner en bas de la page */
}
